[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "TaylorRussell"]
	path = TaylorRussell
	url = https://github.com/cran/TaylorRussell
[submodule "fungible"]
	path = fungible
	url = https://github.com/cran/fungible
