[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "FMP"]
	path = FMP
	url = https://github.com/cran/FMP
[submodule "fungible"]
	path = fungible
	url = https://github.com/cran/fungible
